body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td, tr{
    padding: 10pt;
    border: 2pt solid olive;
    border-collapse: collapse;
    text-align: center;
}
a{
    text-decoration: none;
}
table{border-collapse: collapse;}
button{
    position: fixed;
    bottom: 5pt;
    right: 95pt;
    font-size: 14pt;
    background-color: transparent;
    border-radius: 8pt;
}
a{
    position: fixed;
    right: 10pt;
    top: 10pt;
}
button:hover{
    background-color: rgb(192, 246, 232);
}
.table-select-color{
    position: fixed;
    bottom: 30pt;
    right: 55pt;
}
.td-table-select-color{
    width: 40pt;
    height: 40pt;
}

#red{background-color: red;}
#tomato{background-color: tomato;}
#darksalmon{background-color: darksalmon;}

#blue{background-color: blue;}
#royalblue{background-color: royalblue;}
#cornflowerblue{background-color: cornflowerblue;}

#green{background-color: green;}
#teal{background-color: teal;}
#cadetblue{background-color: cadetblue;}

.form-height{
    position: fixed;
    bottom: 10pt;
    right: 300pt;
}
.form-width{
    position: fixed;
    bottom: 220pt;
    right: 10pt;
}
.height-text{
    position: fixed;
    bottom: 40pt;
    right: 320pt;
    line-height: 12pt;
    font-size: 14pt;
}
.width-text{
    position: fixed;
    bottom: 225pt;
    right: 100pt;
    font-size: 14pt;
}
.width{
    width: 300pt;
}
.height{
    height: 200pt;
    writing-mode: vertical-lr;
    direction: rtl;

}
