th{
    background-color: rgb(41, 101, 253);
    color: #fff;
    text-align: left;
    padding-left: 10pt;
}
td{
    border-bottom: 2pt solid gray;
}
table{
    background-image: url("../img/table-background.jpg");
    background-size: 100% 100%;
    border: 2px solid #000;
    border-radius: 20px;
    border-collapse: collapse;
}
body{
    font-size: 40pt;
}
span{
    font-size: 15pt;
    color: gray;
}
a{
    font-size: 30pt;
    text-decoration: none;
    position: fixed;
    right:10pt;
    top:10pt;
}
.first-col{width: 80pt;}
.second-col{width:600pt;}
.third-col{width: 130pt;}
.second-col:hover{font-size: 45pt;}
.third-col:hover{color: rgb(0, 123, 255);}